.plan{
    background-color: rgb(241, 236, 226);
    color: rgb(0, 0, 0);
    padding: 3% 4%;
}
.point{
    background-color: rgb(254, 253, 250);
    border-radius: 20px;
    color: black;
}
.col-2{
    padding: 0px;
}
.point-image{
    width: 100%;
    height: 100%;
}
.back-image{
    background-image: url('../img/i.webp');
    background-size: cover;
    
}
.carousel-inner{
    height: 500px;
}
.carousel-item{
    background-size: contain;
}
.krep{
    position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: rgb(254, 228, 93);
}


.carus{
    width: 750px;
    height: 750px;
    margin: auto;
}
.namer{
    font-size: x-small;
}
